{# base.twig ist das Standard layout #}
{% extends "shared/base.twig" %}
{# Ersetzt den content-block in base.twig #}
{% block content %}
	<h1>HTML Ipsum Presents</h1>

	<p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>

	<h2>Header Level 2</h2>

	<ol>
		<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
		<li>Aliquam tincidunt mauris eu risus.</li>
	</ol>

	<blockquote><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p></blockquote>

	<h3>Header Level 3</h3>

	<ul>
		<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
		<li>Aliquam tincidunt mauris eu risus.</li>
	</ul>

	<pre><code>
#header h1 a {
	display: block;
	width: 300px;
	height: 80px;
}
</code></pre>

	<p>
		Dies ist eine Deomo dieses MVC frameworks. Hier sind einige Variablen:
	</p>
	<ul>
		<li>Der Baum ist {{ baumfarbe }}</li>{# So kann man Variablen ausgeben #}
		<li>Die nächsten Elemente sind als array gespeichert:</li>
		<ul>
			{% for item in test_array %} {# So geht eine for schleife #}
				<li><b>{{ item }}</b></li>
			{% endfor %}
		</ul>
	</ul>
{% endblock %}
{% block footer %}{# Den footer block in bse.twig überschreiben #}
	Der Text auf dieser Seite ist von <a href="http://html-ipsum.com/">html-ipsum.com</a>
{% endblock %}